.singleBlog {
    position: relative;
}
.singleBlogLg {
    border-radius: 10px;
    overflow: hidden;
}
.blogContent {
    position: absolute;
    content: '';
    bottom: 40px;
    width: 100%;
}
.blogTitle {
    font-style: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
}
.dateBox p {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}
.tagLink {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-decoration: underline;
}
