.singlePricing {
    background: #ffffff;
    box-shadow: 0px 16px 32px rgb(80 80 80 / 8%);
    border-radius: 10px;
    padding: 45px;
}

.bgPink {
    background: var(--bs-pink) !important;
}

.pricingTopBox {
    margin-bottom: 40px;
}

.pricingTopBox h3 {
    font-size: 36px;
    font-weight: 500;
    line-height: 45px;
}

.pricingTopBox p {
    color: #6c757d !important;
}

.bgPink .pricingTopBox p,
.bgBlue .pricingTopBox p,
.bgGreen .pricingTopBox p {
    color: #fff !important;
}

.priceBox {
    text-align: center;
    margin-bottom: 55px;
}

.priceBox h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 12px;
}

.priceBox h3 span {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #25282b;
}

.secondChild h3,
.secondChild p,
.secondChild span,
.secondChild li {
    color: #fff !important;
}

.priceBox p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #25282b;
}

.priceBox p span {
    background: #e8e8e8;
    border-radius: 4px;
    padding: 4px 8px;
}

.pricngFeatures ul li {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #241348;
    text-transform: capitalize;
    margin-bottom: 30px;
    padding-left: 25px;
    position: relative;
}

.buyBtn {
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    border-radius: 6px;
    background-color: #25282b;
    color: #fff;
    border: 2px solid #25282b;
}

.buyBtn:hover {
    color: #25282b;
    background: transparent;
}

.bgPink .buyBtn {
    background-color: #fff;
    color: #25282b;
    border: 2px solid #fff;
}

.bgPink .buyBtn:hover {
    color: #fff;
    background: transparent;
}

.pricngFeatures ul li:before {
    content: '✓';
    left: 0;
    position: absolute;
}

.checkbox {
    margin-bottom: 40px;
}

.checkbox p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #25282b;
}

/* Responsive Start */
@media screen and (max-width: 1440px) {
    .pricingTopBox {
        margin-bottom: 25px;
    }

    .priceBox {
        margin-bottom: 35px;
    }

    .priceBox h3 {
        font-size: 45px;
        line-height: 55px;
    }

    .pricingTopBox h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .pricngFeatures ul li {
        margin-bottom: 22px;
    }
}
@media screen and (max-width: 1366px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 575px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 360px) {
}
/* Responsive End */
