.counterTitle {
    font-size: 18px;
    color: #6c757d !important;
}

.counterNumber {
    color: var(--bs-pink);
    display: inline-block;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

.progressImg {
    position: relative;
    text-align: end;
    z-index: 1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.progressImg img {
    width: 80%;
    text-align: right;
}

.circle {
    position: absolute;
    content: '';
    top: -120px;
    right: -120px;
    width: 250px !important;
    z-index: -2;
}

.counterBox {
    position: absolute;
    content: '';
    bottom: 30px;
    left: 45px;
    z-index: 4;
    background: var(--bs-pink);
    border-radius: 10px;
    width: 160px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counterTitle {
    color: #fff !important;
}

.counterNumber {
    color: #fff;
}

.progressBarBox {
    margin-top: 40px;
}

.singleProgressBar {
    margin-bottom: 40px;
}

.spTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.spTop h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #25282b;
}

/* Responsive Start */
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1366px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1199px) {
    .circle {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 992px) {
    .counterBox {
        display: none;
    }

    .progressImg img {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 575px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 360px) {
}
/* Responsive End */
